.kitchen-catalog {
  margin-bottom: 60px;

  @media (min-width: $screen-md) {
    margin-bottom: 40px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 80px;
  }

  $block-name:                &; // #{$block-name}__element

  &__filter-col {
    position: relative;
    @include col(xl,3);
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
    }
  }

  &__gallery-col {
    @include col(xs,12);
    @include col(xl,9);
  }

  &__inner-col {
    @include col(xs,12);
    @include col(md,6);
    @include col(lg,4);
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;

      @media (min-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }

  &__sticker-wrapper {
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
  }

  &__fltr-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    background-color: $white;

    h1 {
      width: 100%;
      margin-bottom: 20px;

      @media (min-width: $screen-md) {
        flex: 1 0 auto;
        width: auto;
        margin-bottom: 0;
      }
    }

    button {
      width: 100%;
      font-size: 18px;
      //border-color: $white;

      @media (min-width: $screen-md) {
        flex: 0 0 auto;
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (min-width: $screen-xl) {
        display: none;
      }

      &::before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 18px;
        height: 18px;
        margin-right: 10px;
        transform: translateY(-1px);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px 12px;
        background-image: svg-load('../blocks/sprite-svg/svg/filter-icon.svg', fill=$link-color);
      }

      &:hover,
      &:focus {

        &::before {
          background-image: svg-load('../blocks/sprite-svg/svg/filter-icon.svg', fill=$link-color--hover);
        }
      }
    }
  }
}
