.socials {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;

  $block-name:                &; // #{$block-name}__element

  &__item {
    padding-left: 0;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 24px;
    height: 24px;
    //border-radius: 50%;
    color: $main-color;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    @media (min-width: $screen-md) {
      //width: 50px;
      //height: 50px;
    }

    &:hover,
    &:focus {
      background-color: $white;
    }

    &--mess {
      background-size: contain;
      background-image: svg-load('../blocks/socials/bg-img/messenger-icon.svg', fill=$link-color);

      &:hover,
      &:focus {
        background-image: svg-load('../blocks/socials/bg-img/messenger-icon.svg', fill=$link-color--hover);
      }
    }

    &--fb {
      background-size: contain;
      background-image: svg-load('../blocks/socials/bg-img/facebook-icon.svg', fill=$link-color);

      &:hover,
      &:focus {
        background-image: svg-load('../blocks/socials/bg-img/facebook-icon.svg', fill=$link-color--hover);
      }
    }

    &--tg {
      background-size: contain;
      background-image: svg-load('../blocks/socials/bg-img/telegram-icon.svg', fill=$link-color);

      &:hover,
      &:focus {
        background-image: svg-load('../blocks/socials/bg-img/telegram-icon.svg', fill=$link-color--hover);
      }
    }

    &--wapp {
      background-size: contain;
      background-image: svg-load('../blocks/socials/bg-img/whatsapp-icon.svg', fill=$link-color);

      &:hover,
      &:focus {
        background-image: svg-load('../blocks/socials/bg-img/whatsapp-icon.svg', fill=$link-color--hover);
      }
    }

    &--vib {
      background-size: contain;
      background-image: svg-load('../blocks/socials/bg-img/viber-icon.svg', fill=$link-color);

      &:hover,
      &:focus {
        background-image: svg-load('../blocks/socials/bg-img/viber-icon.svg', fill=$link-color--hover);
      }
    }

    &--insta {
      background-size: contain;
      background-image: svg-load('../blocks/socials/bg-img/instagram-icon.svg', fill=$link-color);

      &:hover,
      &:focus {
        background-image: svg-load('../blocks/socials/bg-img/instagram-icon.svg', fill=$link-color--hover);
      }
    }
  }

  &--footer {
    margin-top: 20px;

    #{$block-name}__link {
      display: block;
      width: 24px;
      height: 24px;
      //border-radius: 50%;
      color: $main-color;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      &--mess {
        background-size: contain;
        background-image: svg-load('../blocks/socials/bg-img/messenger-icon.svg', fill=$white);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/socials/bg-img/messenger-icon.svg', fill=$link-color--hover);
        }
      }

      &--fb {
        background-size: contain;
        background-image: svg-load('../blocks/socials/bg-img/facebook-icon.svg', fill=$white);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/socials/bg-img/facebook-icon.svg', fill=$link-color--hover);
        }
      }

      &--tg {
        background-size: contain;
        background-image: svg-load('../blocks/socials/bg-img/telegram-icon.svg', fill=$white);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/socials/bg-img/telegram-icon.svg', fill=$link-color--hover);
        }
      }

      &--wapp {
        background-size: contain;
        background-image: svg-load('../blocks/socials/bg-img/whatsapp-icon.svg', fill=$white);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/socials/bg-img/whatsapp-icon.svg', fill=$link-color--hover);
        }
      }

      &--vib {
        background-size: contain;
        background-image: svg-load('../blocks/socials/bg-img/viber-icon.svg', fill=$white);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/socials/bg-img/viber-icon.svg', fill=$link-color--hover);
        }
      }

      &--insta {
        background-size: contain;
        background-image: svg-load('../blocks/socials/bg-img/instagram-icon.svg', fill=$white);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/socials/bg-img/instagram-icon.svg', fill=$link-color--hover);
        }
      }
    }
  }
}
