.news-block {
  padding-top: 60px;
  padding-bottom: 30px;

  @media (min-width: $screen-md) {
    padding-top: 70px;
    padding-bottom: 10px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col {
    @include col(xs,12);
    @include col(md,6);
    @include col(xl,12);
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      margin-bottom: 60px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 70px;
    }

    &:last-child {

      @media (min-width: $screen-xl) {
        margin-bottom: 0;
      }
    }
  }

  &__col:nth-child(even) {

    .news-card__col-img {

      @media (min-width: $screen-xl) {
        order: 1;
        @include col-offset(xl,1);
      }
    }
  }
}
