.seo-text {
  margin-bottom: 60px;

  @media (min-width: $screen-md) {
    margin-bottom: 70px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 110px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col-title {
    @include col(xs,12);
    @include col(xl,3);
  }

  &__col-content {
    @include col(xs,12);
    @include col(xl,9);

    p {

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
