.burger {

  $block-name:                &; // #{$block-name}__element

  display: block;
  width: 30px;
  height: 16px;
  user-select: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 16px;
  background-image: svg-load('../blocks/burger/bg-img/burger-icon.svg', fill=$main-color);

  @media (min-width: $screen-xl) {
    display: none;
  }
}
