.features {

  $block-name:                &; // #{$block-name}__element

  .suite-card__wrapper {
    margin-bottom: 20px;
  }

  &__title {
    position: relative;
    z-index: 5;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }
  }

  &__sticker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $white;

    @media (min-width: $screen-md) {
      justify-content: initial;
    }

    input,
    button {

      @media (min-width: $screen-md) {
        margin-left: 30px;
      }

      @media (min-width: $screen-xl) {
        width: 250px;
        margin-left: 70px;
      }
    }
  }

  &__nav {
    margin-bottom: 30px;
    background-color: $tabs-bg;
    border-bottom: 4px solid $green-bg;

    @media (min-width: $screen-xl) {
      background: none;
      border-bottom: none;
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-xl) {
      background-color: $tabs-bg;
      border-bottom: 4px solid $green-bg;
    }
  }

  &__nav-item {
    margin-right: 30px;

    @media (min-width: $screen-md) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      #{$block-name}__nav-link {
        position: relative;
        color: $link-color--hover;
        pointer-events: none;

        &::after {
          display: block;
          content: "";
          position: absolute;
          z-index: 1;
          bottom: -4px;
          left: -15px;
          right: -15px;
          height: 4px;
          background-color: $link-color--hover;

          @media (min-width: $screen-md) {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  &__nav-link {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    color: $text-color;
    user-select: none;

    @media (min-width: $screen-md) {
      padding: 20px 30px;
      font-size: 20px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &__main {
    margin-bottom: 50px;
  }

  &__slider-col {
    @include col(xs,12);
    @include col(xl,7);
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      margin-bottom: 50px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__options-col {
    @include col(xs,12);
    @include col(xl,5);
  }

  &__action-col {
    @include col(xs,12);
    margin-bottom: 20px;

    @media (min-width: $screen-xl) {
      flex: 0 0 auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
    }
  }

  &__table-col,
  &__opt-col {
    @include col(xs,12);
    @include col(md,6);
    @include col(xl,12);
  }

  &__table-col {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      flex: 0 0 auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: auto;
    }
  }

  &__opt-col {

    @media (min-width: $screen-xl) {
      flex: 0 0 auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__options {

    @media (min-width: $screen-xl) {
      height: 100%;
    }

    & > .row {

      @media (min-width: $screen-xl) {
        flex-direction: column;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: $screen-md) {
      width: calc(50% - 15px);
    }

    @media (min-width: $screen-xl) {
      width: 100%;
    }

    .btn {
      width: calc(50% - 15px);
      min-width: 160px;
    }
  }

  &__action-price {
    margin: 0;
  }

  &__table {
    height: 100%;
    margin: 0;
    border: none;
    background-color: $light-bg;

    tr {

      &:first-child {

        td {
          padding-top: 15px;

          @media (min-width: $screen-xl) {
            padding-top: 20px;
          }
        }
      }

      &:last-child {

        td {
          padding-bottom: 15px;

          @media (min-width: $screen-xl) {
            padding-bottom: 20px;
          }
        }
      }
    }

    td {
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      border: none !important;

      &:nth-child(even) {
        font-weight: 500;
      }
    }
  }

  &__list-item {
    position: relative;
    min-height: 50px;
    padding-left: 55px !important;
    margin-bottom: 1em;

    @media (min-width: $screen-xl) {
      margin-bottom: 30px;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 50px;
      height: 50px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: left center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--color {

      &::after {
        background-size: 35px 41px;
        background-image: svg-load('../blocks/features/bg-img/palette-icon.svg', fill=$main-color);
      }
    }

    &--time {

      &::after {
        background-size: 35px 25px;
        background-image: svg-load('../blocks/features/bg-img/timer-icon.svg', fill=$main-color);
      }
    }

    &--service {

      &::after {
        background-size: 35px 35px;
        background-image: svg-load('../blocks/features/bg-img/service-icon.svg', fill=$main-color);
      }
    }
  }

  &__details {
    margin-bottom: 50px;
    //padding: 30px 0;
    //background-color: $tabs-bg;
  }

  &__details-caption {
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__details-list {
    margin-top: 0;
  }

  &__details-inner {
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      display: flex;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__details-title {
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      flex: 0 0 35%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 35%;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      flex-basis: 26%;
    }

    & > span {

      @media (min-width: $screen-md) {
        flex: 1 1 auto;
        height: 2px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px dashed #828282;
      }
    }
  }

  &__details-defin {
    font-weight: 500;

    @media (min-width: $screen-md) {
      flex: 1 1 auto;
      width: auto;
      margin-bottom: 0;
    }
  }

  &__info {
    margin-bottom: 60px;

    @media (min-width: $screen-md) {
      margin-bottom: 70px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 110px;
    }
  }

  &__info-title {
    margin-top: 0;
  }

  &__text-col {
    @include col(xs,12);
    //@include col(md,11);
    @include col(xl,8);
  }

  &__text {

    p:first-child {
      margin-top: 0;
    }
  }
}
