.copyrights {
  padding: 20px 0;
  font-size: 14px;
  color: inherit;

  @media (min-width: $screen-md) {
  }

  @media (min-width: $screen-xl) {
    font-size: 16px;
  }

  $block-name:                &; // #{$block-name}__element

  &__owner-col {
    @include col(xs,12);
    @include col(md,4);
    margin-bottom: 1em;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__copyright-col {
    @include col(xs,12);
    @include col(md,4);
    margin-bottom: 1em;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      text-align: center;
    }
  }

  &__dev-col {
    @include col(xs,12);
    @include col(md,4);

    @media (min-width: $screen-md) {
      text-align: right;
    }
  }

  &__owner {

  }

  &__copyright {

  }

  &__dev {
    display: inline-flex;
    align-items: center;

    & > span {
      margin-right: 10px;
    }

    a {
      opacity: 0.8;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    img {
      display: block;
    }
  }
}
